:root{
    --bg-page: #0f0f14;                 
  --bg-card: #3f3f3f;                 
  --text-color: #e5e7eb;              
  --gradient-primary: #7c3aed;        
  --gradient-secondary: #10b981;      

  --radius-sm: 8px;                   
  --radius-lg: 20px;                  
  --spacing: 16px;                    

  --transition-speed: 0.3s;
  --transition-curve: ease-in-out;
}